<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Lista de Bombas</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelar_listaservicios(0,0,0,0,0)" class="">
        <ion-icon part="icon" aria-hidden="true" role="img" class="md hydrated" name="chevron-back-outline"></ion-icon>
        Cancelar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item>
    <ion-searchbar style="width: 98%;" #IdHtmlInputSearch mode="ios" cancelButtonText="Cancelar"
    enterkeyhint="done" placeholder="Filtrar Servicios" [(ngModel)]="NgModInputSearch" >
  </ion-searchbar>
  <ion-icon
  slot="end"
  name="sync-outline"
  (click)="FFindRows()"
  #idIconButtonSync
  ></ion-icon>
  </ion-item>

  <ion-list *ngFor="let Row of DataSetGrid; let i=index let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven" lines="full" inset=true>
    <ion-item button (click)="FSelectedItem(Row.codsmg,Row.id_orden_trab_fis_cab,Row.nombre,Row.id_orden_trab_cab,Row.ot_estado_general,Row.guia_salida_mtto)">
    <ion-label>
    <strong>{{Row.codsmg}}</strong>
    <p>{{Row.id_orden_trab_fis_cab +' - Motor: '+Row.cod_motor_mtto}}</p>
    <p>{{'Tecnico: '+Row.tecnico}}</p>
    <p>{{'Estado O.T: '+Row.nombre}}</p>
    <!-- <p [style.color]="Row.guia_salida_mtto === 'DISPONIBLE' ? 'green' : 'red'">{{'Estado Bomba: '+Row.guia_salida_mtto}}</p> -->
    <!-- <p>{{Row.id_orden_trab_cab}}</p> -->
  </ion-label>
</ion-item>
</ion-list>

</ion-content>
