<ion-header>
  <ion-toolbar>
    <ion-title>{{tituloModal}} Motivo de Maquina Parada</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Modificacion de Fecha de Inicio de Parada de Maquina-->
  <ion-item *ngIf="flag_edit_pausa === 1 && user_permiso_80 === 80">
    <ion-col size="6" class="ion-text-end">Fecha y Hora Inicio:</ion-col>
    <ion-datetime-button locale="es-ES" datetime="datetime1"></ion-datetime-button>
    <ion-popover [keepContentsMounted]="true" trigger="popover-button" animated="true" arrow="true" mode="ios">
      <ng-template>
        <ion-datetime locale="es-ES" id="datetime1" mode="ios"
          displayFormat="YYYY-MM-DD HH:mm" presentation="date-time" [preferWheel]="true" [showDefaultButtons]="true"
          pickerFormat="YYYY-MM-DD HH:mm"
          [(ngModel)]="fechainicio_pausa"
          >
        </ion-datetime>
      </ng-template>

    </ion-popover>
  </ion-item>

  <!--Modificacion de Fecha de Finalizacion de Parada de Maquina-->
  <ion-item *ngIf="flag_edit_pausa === 1 && user_permiso_80 === 80">
    <ion-col size="6" class="ion-text-end">Fecha y Hora Final:</ion-col>
    <ion-datetime-button locale="es-ES" datetime="datetime2"></ion-datetime-button>
    <ion-popover [keepContentsMounted]="true" trigger="popover-button" animated="true" arrow="true" mode="ios">
      <ng-template>
        <ion-datetime locale="es-ES" id="datetime2" mode="ios"
          displayFormat="YYYY-MM-DD HH:mm" presentation="date-time" [preferWheel]="true" [showDefaultButtons]="true"
          pickerFormat="YYYY-MM-DD HH:mm"
          [(ngModel)]="fechafin_pausa"
          >
        </ion-datetime>
      </ng-template>

    </ion-popover>
  </ion-item>
  
  
  <!-- Modificación del estilo para el label y el ion-select -->
  <ion-item>
    <ion-label position="floating">Motivo de Pausa</ion-label>
    <ion-select [(ngModel)]="CssMotiParada" (ionChange)="onMotivoChange($event)" placeholder="Selecciona un motivo" interface="action-sheet" class="custom-select">
      <!-- Recorre los motivos traídos desde la base de datos -->
      <ion-select-option *ngFor="let motivo of motivosPausa" [value]="motivo.codigo">
        {{ motivo.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Este campo se muestra solo si se selecciona 'OTROS' (ID = 15) -->
  <ion-item *ngIf="mostrarTextoObservaciones" id="texto_observaciones">
    <ion-label position="floating">Escribe el Motivo de la Pausa de Actividad</ion-label>
    <ion-textarea [(ngModel)]="observaciones" class="custom-textarea"></ion-textarea>
  </ion-item>

  <ion-footer>
    <ion-button expand="full" class="boton-guardar" (click)="guardar()">Guardar</ion-button>
  </ion-footer>


</ion-content>
