<ion-header>
  <ion-toolbar>
    <ion-title>{{tituloModal}} Motivo de Maquina Parada</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Modificación del estilo para el label y el ion-select -->
  <ion-item>
    <ion-label position="floating">Motivo de Pausa</ion-label>
    <ion-select [(ngModel)]="CssMotiParada" (ionChange)="onMotivoChange($event)" placeholder="Selecciona un motivo" interface="action-sheet" class="custom-select">
      <!-- Recorre los motivos traídos desde la base de datos -->
      <ion-select-option *ngFor="let motivo of motivosPausa" [value]="motivo.codigo">
        {{ motivo.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Este campo se muestra solo si se selecciona 'OTROS' (ID = 15) -->
  <ion-item *ngIf="mostrarTextoObservaciones" id="texto_observaciones">
    <ion-label position="floating">Escribe el Motivo de la Pausa de Actividad</ion-label>
    <ion-textarea [(ngModel)]="observaciones" class="custom-textarea"></ion-textarea>
  </ion-item>

  <ion-footer>
    <ion-button expand="full" class="boton-guardar" (click)="guardar()">Guardar</ion-button>
  </ion-footer>


</ion-content>
