<ion-header [translucent]="true">
  <ion-toolbar
    mode="ios"
    [color]="networkStatus && networkStatus.connected? 'primary':'danger'"
  >
    <ion-title text-capitalize>{{tituloTollBar}}

    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="mtto-list-checklist-herra"
        [text]="Cancelar"
        [disabled]="disableButton"
      >
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <form [formGroup]="FormCheckListPaso1" #f="ngForm"> -->
    <form [formGroup]="FormCheckListPaso1" #f="ngForm">
    <ion-list mode="ios" class="ion-no-padding">
      <ion-item>
        <ion-input formControlName="tipo_ckl" readonly class="ion-text-center"></ion-input>
    </ion-item>
      
      <ion-item>
          <ion-input label="Correlativo:&nbsp;" formControlName="correlativo" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-searchbar
        (click)="open_popup_tecni()"
        type="text"
        placeholder="Seleccionar Tecnico"
        mode="ios"
        readonly
        formControlName="nomusuario"> 
        Tecnico:&nbsp;   </ion-searchbar>
    </ion-item>
      <ion-item>
        <ion-label>
          <p>Mesa de Trabajo</p>
          <ion-select 
          cancelText="Cancelar"
          (ionChange)="FSelectChangeMesa($event,0)"
          [selectedText]="MesaPivotSelectedText"
          placeholder="Seleccionar mesa de Trabajo"
          color="primary"
          interface="action-sheet"
          mode="ios"
          >
          <ion-select-option
            *ngFor="let colm of DsMesa"
            [value]="colm['codigo']"
            >{{colm['nombre']}}
          </ion-select-option>
          </ion-select>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Isla</p>
          <ion-select
          cancelText="Cancelar"
          (ionChange)="FSelectChangeIsla($event,0)"
          [selectedText]="IslaPivotSelectedText"
          placeholder="Seleccionar Isla"
          color="primary"
          interface="action-sheet"
          mode="ios"
          > 
          <ion-select-option
            *ngFor="let tipo of DsIsla"
            [value]="tipo['codigo']"
            >{{tipo['nombre']}}
          </ion-select-option>
        </ion-select>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Fecha y Hora:</ion-label>
          <ion-datetime-button label="F.Registro Guia:" locale="es-PE" datetime="datetime" [disabled]="true"></ion-datetime-button>
          <ion-popover [keepContentsMounted]="true" trigger="popover-button" animated="true" arrow="true" mode="ios">
            <ng-template>
              <ion-datetime locale="es-PE" id="datetime" mode="ios" displayFormat="YYYY-MM-DD HH:mm"  presentation="date-time"
                [preferWheel]="true" [showDefaultButtons]="true"  pickerFormat="YYYY-MM-DD HH:mm"
              >
              <!--  [ngModelOptions]="{standalone: true}" -->
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            Observacion:
          </ion-label>
            <ion-textarea [autoGrow]="true"
                 [autofocus]="true" mode="ios" [autoGrow]="true" formControlName="obser" 
            > <!--formControlName="falla_secundaria_ic"--> </ion-textarea>
        </ion-item>
        <ion-item-divider color="primary">
          <ion-label ></ion-label>
        </ion-item-divider>
        <ion-item style="padding: 0px;border:0px">
          <ion-label slot="start">B: Bueno R: Regular M: Malo E: Extraviado NE: No entregado</ion-label>
          <ion-chip slot="end" mode="ios" color="primary" (click)="open_popup_herra()" >
          <ion-label>Agregar</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-chip>
        <ion-chip slot="end" color="primary" (click)="FLoadmot1()">
          <ion-icon name="refresh-outline"></ion-icon>
          <ion-label>Actualizar</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
    
    <ion-list>
      <ion-item *ngFor="let Row of DataSetGrid">
        <ion-badge slot="start" color="medium" no-padding>{{Row.fila}}.-</ion-badge>
        <ion-label style="display: flex; justify-content: space-between;">
          <div style="display: flex; flex-direction: column;">
            <p style="width: 250px; margin-right: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
              {{Row.Y04002}}
          </p>
            <p>{{'Serie: '+Row.serie_hd}}</p>
          </div>
          <div style="display: flex;">
            <!-- <ion-toggle mode="ios" [checked]="Row.icchecktog_hd" (ionChange)="onToggle($event)"></ion-toggle> -->
            <ion-segment mode="ios" style="width: 350px;" value="{{Row.idestado_hd}}" (ionChange)="FBlourInput($event,Row)">
              <ion-segment-button color="success" value="1" style="font-size: 12px; padding: 3px;">
                <ion-label>B</ion-label>
              </ion-segment-button>
              <ion-segment-button color="warning" value="2" style="font-size: 12px; padding: 3px;">
                <ion-label>R</ion-label>
              </ion-segment-button>
              <ion-segment-button color="danger" value="3" style="font-size: 12px; padding: 3px;">
                <ion-label>M</ion-label>
              </ion-segment-button>
              <ion-segment-button color="dark" value="4" style="font-size: 12px; padding: 3px;">
                <ion-label>E</ion-label>
              </ion-segment-button>
              <ion-segment-button color="dark" value="5" style="font-size: 12px; padding: 3px;">
                <ion-label>NE</ion-label>
              </ion-segment-button>
            </ion-segment>
          </div>
        </ion-label>
        <div style="width: 80px;">
          <label></label>
        </div>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-button (click)="mostrarConfirmacion()" expand="full" color="primary">Terminado</ion-button>
</ion-footer>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 40px;" (click)="open_popupimages()">
  <ion-fab-button color="primary" mode="ios" title="Item Formulario">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>