.selector {
    font-family: SFNSDisplay;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    color: #29235e;
    width: 100% !important;
    max-width: 100% !important;
    justify-content: center;
    border: solid 2px #e8ebf0;
    background-color: #ffffff;
    text-align: center;
  }
  .CssReproceso {
    color: #b52024 !important;
    font-size: large;
  }
  .texto-rojo {
    color: red;
    font-weight: bold; /* Opcional para hacer el texto más destacado */
  }
  
