
ion-select {
  width: 100%;
  justify-content: center;
}

ion-tab-button {
  ion-icon {
    width: 70%;
    height: 60%;
  }
}

ion-tab-button.tab-selected ion-icon {
  color: white; // #F47B38;
}

ion-tab-button.tab-selected {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #0c60ee; // #F47B38;
  border-image: linear-gradient(to top, #0a4acd, #3880ff);
  border-image-slice: 1;
  border-style: solid;
  border-radius: 6px;
  box-shadow: rgba(10, 74, 205, 0.4) 0px 2px 4px, rgba(10, 74, 205, 0.3) 0px 7px 13px -3px, rgba(10, 74, 205, 0.2) 0px -3px 0px inset;
}

.gradient-border {
  border: 3px solid;
  border-image: linear-gradient(to right, #0a4acd, white);
  border-image-slice: 1;
}

ion-tab-button {
  padding: 0;
  color: #d7d8da;
  border-right: white;
  border-right-style: solid;
  border-right-width: 2px;
  border-left: white;
  border-left-style: solid;
  border-left-width: 2px;
  border-radius: 6px;
}