<ion-header>
  <ion-toolbar mode="ios">
    <ion-item>
      <ion-title text-capitalize>
        <ion-label>PARTE MECANICA</ion-label>
      </ion-title>
      <!-- <form [formGroup]="FormCheckListPaso1" #f="ngForm">
      <ion-toggle justify="end" mode="ios"
      formControlName="checklist_paso1_apli"
      (ionChange)="SaveCheckNoAplicaPaso($event)" >Aplica Paso?
      </ion-toggle>
      </form> -->
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="FormCheckListPaso4">
    <!-- [formGroup]="FormInformeTecPaso3" #f="ngForm" -->
    <ion-list mode="ios" class="ion-no-padding">
<ion-item>
  <ion-label position="floating">
    Manija de operación:
  </ion-label>
    <ion-textarea [autoGrow]="true"
         [autofocus]="true" mode="ios" [autoGrow]="true" formControlName="manioper" 
    > <!--formControlName="falla_secundaria_ic"--> </ion-textarea>
</ion-item>
<ion-item>
  <ion-label position="floating">
    Estado de gabinete (Orejas, seguros, bisagras,puntos de conexión)
  </ion-label>
    <ion-textarea [autoGrow]="true"
         [autofocus]="true" mode="ios" [autoGrow]="true" formControlName="estgab" 
    > <!--formControlName="falla_secundaria_ic"--> </ion-textarea>
</ion-item>
<ion-item>
  <ion-label position="floating">
    Base soporte de tablero eléctrico:
  </ion-label>
    <ion-textarea [autoGrow]="true"
         [autofocus]="true" mode="ios" [autoGrow]="true" formControlName="basesopt" 
    > <!--formControlName="falla_secundaria_ic"--> </ion-textarea>
</ion-item>
    <!-- <ion-item expand="block">Fotos:
        <ion-fab-button slot="end" (click)="selectImageSource()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-item>
      <ion-list>
      <ion-item *ngFor="let img of images;index as pos">
        <ion-thumbnail slot="start">
          <ion-img [src]="DirectorioFotos+img.idnomadjunto"></ion-img>
        </ion-thumbnail>
        <ion-img [src]="img.webviewPath"></ion-img>
        <ion-label>{{img.name}}</ion-label>
        <ion-button slot="end" fill="clear" (click)="deleteImage(img.idadjunto,pos)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list> -->
    <ion-item-group>
      <ion-item-divider color="danger">
        <ion-label>Analisis de Falla</ion-label>
      </ion-item-divider>
      <ion-item>
          <ion-textarea [autoGrow]="true"
               [autofocus]="true" mode="ios" [autoGrow]="true" formControlName="analisis" 
          > <!--formControlName="falla_secundaria_ic"--> </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          Otros:
        </ion-label>
          <ion-textarea [autoGrow]="true"
               [autofocus]="true" mode="ios" [autoGrow]="true" formControlName="obser3" 
          > <!--formControlName="falla_secundaria_ic"--> </ion-textarea>
      </ion-item>
    </ion-item-group>

    <ion-item expand="block">Fotos:
      <ion-fab-button slot="end" (click)="selectImageSource()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-item>
    <ion-list>
    <ion-item *ngFor="let img of images;index as pos">
      <ion-thumbnail slot="start">
        <ion-img [src]="DirectorioFotos+img.idnomadjunto"></ion-img>
      </ion-thumbnail>
      <ion-img [src]="img.webviewPath"></ion-img>
      <ion-label>{{img.name}}</ion-label>

       <ion-button slot="end" fill="clear" (click)="deleteImage(img.idadjunto,pos)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button> 
    </ion-item>
  </ion-list>

  </ion-list>
  </form>
  </ion-content>
  <ion-footer>

    <form [formGroup]="FormCheckListPaso4">
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col style="text-align: center">
            <ion-segment style="width: 110%;" class="ion_segment_3d" mode="ios" formControlName="estado_informe">
  
              <ion-segment-button (click)="SaveFormInfPaso1()" value="1" layout="icon-end">
                <ion-icon name="close" color="danger"></ion-icon>
                <ion-label color="danger">BORRADOR</ion-label>
              </ion-segment-button>
              <ion-segment-button (click)="SaveFormInfPaso1()" value="2" layout="icon-end">
                <ion-icon color="success" name="checkmark"></ion-icon>
                <ion-label color="success">TERMINADO</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <!-- (click)="SaveFormBorradorPaso2()" -->
  
  </ion-footer>