.alertHeader {
    color: #b52024 !important;
   // --color: #b52024 !important;
 }
 h2.alertHeader {
   color: #b52024 !important;
  // --color: #b52024 !important;
 }
 
 .modal-transparency {
  --background: transparent; 
  --height: 80%;
}
.CssReproceso {
  color: #b52024 !important;
  font-size: large;
}
ion-content {
  --background: transparent !important;
}