<ion-toolbar class="ion-no-border">
  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ion-col class="ion-align-self-start" size="10">
        <app-header titulo="{{TituloDinamico}}"></app-header>
      </ion-col>
      <ion-col class="ion-align-self-end" size="2">
        <ion-label
          position="fixed"
          class="label-nameusuario"
          color="secondary"
        ></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-searchbar
      
    #IdHtmlInputSearch
    mode="ios"
    debounce="1700"
    cancelButtonText="Cancelar"
    enterkeyhint="done"
    placeholder="Filtrar parámetros"
    [(ngModel)]="NgModInputSearch"
    (ionChange)="FFindRows()"
  >
  </ion-searchbar>
  <ion-icon
        slot="end"
        name="sync-outline"
        (click)="FFindRows()"
        #idIconButtonSync
      ></ion-icon>
  </ion-item>
</ion-toolbar>

<ion-content scroll-x="true">
  
  <!-- aui estaba cabecera-->

  
      

 <ion-list class="" style="width: 150% !important;">
  
  <!-- <ion-header class="ion-no-border" style="position:fixed !important;offset-position:initial;">
    <ion-toolbar > -->
      <ion-row style="width: 100% !important;">
        
        <ion-col class="headgrid" size-sm="1" size-md="1" size-xl="1"><ion-label style="color: black;">Operario</ion-label></ion-col>
        <ion-col class="headgrid" size-sm="0.3" size-md="0.3" size-xl="0.3"><ion-label style="color: black;">Tipo</ion-label></ion-col>
        <ion-col class="headgrid" size-sm="0.5" size-md="0.5" size-xl="0.5"><ion-label style="color: black;">Nro. OT/OF</ion-label></ion-col>
        <ion-col class="headgrid" size-sm="0.4" size-md="0.4" size-xl="0.4"><ion-label style="color: black;">Cantidad Total</ion-label></ion-col>
        <ion-col class="headgrid" size-sm="0.5" size-md="0.4" size-xl="0.4"><ion-label style="color: black;">Cantidad Terminada</ion-label></ion-col>

        <ion-col class="headgrid" size-sm="0.5" size-md="0.5" size-xl="0.5"><ion-label style="color: black;">Equipo</ion-label></ion-col>
        <ion-col class="headgrid" size-sm="1" size-md="1" size-xl="1"><ion-label style="color: black;">Pieza</ion-label></ion-col>
        <ion-col class="headgrid" size-sm="2" size-md="2" size-xl="2"><ion-label style="color: black;">Servicio</ion-label></ion-col>

        <ion-col class="headgrid" size-sm="1" size-md="1" size-xl="1"><ion-label style="color: black;">F. Inicio</ion-label></ion-col>
        <ion-col class="headgrid" size-sm="1" size-md="1" size-xl="1"><ion-label style="color: black;">F. Fin</ion-label></ion-col>
        <ion-col class="headgrid" size-sm="0.5" size-md="0.5" size-xl="0.5"><ion-label style="color: black;">Duracion</ion-label></ion-col>
        
        <ion-col class="headgrid" size-sm="0.5" size-md="0.5" size-xl="0.5"><ion-label style="color: black;">Tiempo Pausa Min.</ion-label></ion-col>
        <ion-col class="headgrid" size-sm="1" size-md="1" size-xl="1"><ion-label style="color: black;">Motivo Pausa</ion-label></ion-col>

        
        <ion-col class="headgrid" size-sm="1" size-md="1" size-xl="1"><ion-label style="color: black;">Observacion</ion-label></ion-col>
        <ion-col class="headgrid" size-sm="0.5" size-md="0.5" size-xl="0.5"><ion-label style="color: black;">Semana</ion-label></ion-col>
        <!-- <ion-col class="headgrid" size-sm="1" size-md="1" size-xl="1">Eficiencia(h)</ion-col> -->
      </ion-row>
    
    <!-- </ion-toolbar>
  </ion-header>
 
   -->
  <ion-item-group *ngFor="let group of MultiArrayServicios; let i=index " [style.--background]="scanActive ? '#00000000':'#fff'">

    <ion-item-divider style="height: 30px !important;" color="light"
    [hidden]="scanActive"
      >
      
      <ion-icon
        name="ellipse"
        color="dark"
        slot="start"
      ></ion-icon>      
      
    
     <div class="ion-text-uppercase">{{group.key}}</div></ion-item-divider>

    <!-- -->
      <ion-item *ngFor="let Row of group.values" [hidden]="scanActive"
        button
        (click)="FSelectedItem(Row)"
      >
        <ion-grid fixed="false" style="width: 150% !important;">
          <ion-row style="width: 100% !important;font-size: 0.7em;">
            
            <ion-col size-sm="1" size-md="1" size-xl="1">{{Row.nombres_tecnico}}</ion-col>
            <ion-col size-sm="0.3" size-md="0.3" size-xl="0.3">{{Row.avatar}}</ion-col>
            <ion-col size-sm="0.5" size-md="0.5" size-xl="0.5">{{Row.correorden}}</ion-col>
            <ion-col size-sm="0.4" size-md="0.4" size-xl="0.4">{{Row.cantidad_total}}</ion-col>
            <ion-col size-sm="0.5" size-md="0.4" size-xl="0.4">{{Row.cantidad_revisada}}</ion-col>
            <ion-col size-sm="0.5" size-md="0.5" size-xl="0.5"><ion-label [color]="Row.idestado!='3' ? 'warning':'dark'">{{Row.codsmg}}</ion-label></ion-col>
            <ion-col size-sm="1" size-md="1" size-xl="1"><ion-label class="ion-text-wrap">{{Row.nomclase}}</ion-label></ion-col>
            <ion-col size-sm="2" size-md="2" size-xl="2">{{Row.Y04002}}</ion-col>
            
            <ion-col size-sm="1" size-md="1" size-xl="1">{{Row.fecha_inicio}}</ion-col>
            <ion-col size-sm="1" size-md="1" size-xl="1" >{{Row.fecha_fin}}</ion-col>
            <ion-col size-sm="0.5" size-md="0.5" size-xl="0.5">{{Row.tiempo}}</ion-col>

            <ion-col size-sm="0.5" size-md="0.5" size-xl="0.5">{{Row.tiempo_pausa}}</ion-col>
            <ion-col size-sm="1.1" size-md="1.1" size-xl="1.1">{{Row.motivo_pausa}}</ion-col>
            
            <ion-col size-sm="1" size-md="1" size-xl="1">{{Row.observacion}}</ion-col>
            <ion-col size-sm="0.5" size-md="0.5" size-xl="0.5"><ion-label [color]="Row.idestado!='3' ? 'warning':'dark'">{{Row.Nsemanaofmes}}</ion-label></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    <!--  -->
  </ion-item-group>

  
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">

  <ion-fab-button title="REPORTE FALLA EQUIPO" (click)="FReporteFalla()">
    <ion-icon name="build-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-button title="RELEVO" (click)="FRelevo()">
    <ion-icon name="log-out-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-button title="Nueva Actividad" (click)="FIniciarActvividad()">
    <ion-icon name="grid-outline"></ion-icon>
  </ion-fab-button>
  
</ion-fab>

</ion-content>
<ion-footer>
  
  <ion-card mode="ios" style="align-items: center">
    <ion-button
      style="width: 30%"
      fill="clear"
      expand="block"
      (click)="FListarActvidades()"
    >
      <ion-label color="primary" style="font: size 6px">
        <ion-icon name="grid-outline"></ion-icon>
          Orden de Fabricacion en Proceso
      </ion-label>
    </ion-button>
  </ion-card>

</ion-footer>