.text-white {
  color: white;
}

.border-primary {
  border-color: blue;
  border-radius: 5px;
}

.bg-danger {
  background-color: red;
  border-radius: 5px;
}

.bg-success {
  background-color: green;
  border-radius: 5px;
}

.text-danger {
  color: red;
  border-radius: 5px;
}

