<ion-header>
  <ion-toolbar mode="ios" class="ion-no-border ion-text-center">
      <img src="assets/imgs/cable_resinado_mtto.png" width="50%" />
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item-group>
    <ion-item-divider color="primary">
      <ion-label>General</ion-label>
    </ion-item-divider>


    <ion-item>
      <ion-input mode="ios" label="Correlativo:" label-placement="fixed" readonly [(ngModel)]="correlativo"
        formControlName="correlativo"></ion-input>
      <div style="display: none;">
        <ion-input hidden [(ngModel)]="idrecinadocablecab" formControlName="idrecinadocablecab"></ion-input>
      </div>
    </ion-item>

    <ion-item>
      <ion-label>F.Registro:</ion-label>
      <ion-datetime-button label="F.Registro:" locale="es-ES" datetime="datetime"></ion-datetime-button>
      <ion-popover [keepContentsMounted]="true" trigger="popover-button" animated="true" arrow="true" mode="ios">
        <ng-template>
          <ion-datetime locale="es-ES" id="datetime" mode="ios" displayFormat="YYYY-MM-DD" presentation="date"
            [preferWheel]="true" [showDefaultButtons]="true" [(ngModel)]="fchregistro"
            formControlName="fchregistro">
          </ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item>
      <ion-input label="Equipo:" label-placement="fixed" readonly formControlName="codsmg" [(ngModel)]="codsmg1"
        [ngClass]="{'is-invalid':FormRecinado.get('codsmg').touched && FormRecinado.get('codsmg').invalid}">
      </ion-input>
      <ion-button slot="end" color="primary" (click)="open_popup_equipos()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-input label="Nro O.T.:" label-placement="fixed" type="text" readonly formControlName="nroot"
        [(ngModel)]="nroot"
        [ngClass]="{'is-invalid':FormRecinado.get('nroot').touched && FormRecinado.get('nroot').invalid}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Estado:" placeholder="Seleccionar uno" formControlName="idestadoinspeccion" mode="ios"
        interface="action-sheet"
        [ngClass]="{'is-invalid':FormRecinado.get('idestadoinspeccion').touched && FormRecinado.get('idestadoinspeccion').invalid}">
        <ion-select-option value="1">Borrador</ion-select-option>
        <ion-select-option value="2">Terminado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input label="F.Reg.O.T:" label-placement="fixed" readonly formControlName="fch_reg_ot_rcc"
        [(ngModel)]="fch_reg_ot_rcc"></ion-input>
    </ion-item>

  </ion-item-group>




  <ion-item-group>

    

  </ion-item-group>


</ion-content>