<ion-header>
  <ion-toolbar>
    <ion-title>Confirmar Logout</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form (ngSubmit)="submitForm()">
      <ion-item>
        <ion-label position="floating">Horómetro Final</ion-label>
        <ion-input type="text" [(ngModel)]="horometroFinal" name="horometroFinal"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit">Guardar</ion-button>
    </form>
  </div>
</ion-content>