<ion-header>
  <ion-toolbar mode="ios">
    <ion-item>
    <ion-title text-capitalize
      ><ion-label style="font-size: small;">VERIFICACION COMPONENTES CRÍTICOS PARA MONTAJE
        <p>CONTROL DE PIEZAS CRITICAS</p>
      </ion-label></ion-title>
      <form [formGroup]="FormCheckListPaso2" #f="ngForm">
        <ion-toggle justify="end" mode="ios"
        formControlName="checklist_paso2_apli"
        (ionChange)="SaveCheckNoAplicaPaso($event)" >Aplica Paso?
        </ion-toggle>
        </form>

        </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="FormCheckListPaso2" #f="ngForm">
    <ion-list mode="ios" class="ion-no-padding">
      <ion-item-divider>
        <ion-toggle mode="ios" (ionChange)="toggle1($event)"  style="width: 50%;"
        formControlName="cub_pri_apl">
        CUBIERTA PRINCIPAL
            </ion-toggle>
      </ion-item-divider>
      <ion-item>
        <ion-label>
          <p>VALIDADO POR CONTROL DE CALIDAD</p>
          <ion-segment mode="ios" formControlName="cub_pri_val_cc_cp2" >
            <ion-segment-button value="1">
              <ion-label>SI</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>NO</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>REVISION DE ROSCAR Y ALOJAMIENTOS</p>
          <ion-segment mode="ios" formControlName="cub_pri_rev_rosc_cp2">
            <ion-segment-button value="1">
              <ion-label>OK</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>DEFECTUOSO</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>PIEZAS LIMPIAS / SIN FILOS</p>
          <ion-segment mode="ios"  formControlName="cub_pri_pie_lim_cp2">
            <ion-segment-button value="1">
              <ion-label>OK</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>FILOS</ion-label>
            </ion-segment-button>
            <ion-segment-button value="3">
              <ion-label>OTROS</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="floating"> OBSERVACIONES </ion-label>
        <ion-textarea
          [autofocus]="true"
          mode="ios"
          [autoGrow]="true"
          formControlName="cub_pri_observ_cp2"

        ></ion-textarea>
      </ion-item>
      <ion-item-divider>

        <ion-toggle mode="ios" (ionChange)="toggle2($event)"  style="width: 50%;"
        formControlName="cub_est_apl"
        >
        CUBIERTA DE ESTATOR
            </ion-toggle>
      </ion-item-divider>

      <ion-item>
        <ion-label>
          <p>VALIDADO POR CONTROL DE CALIDAD</p>
          <ion-segment mode="ios" formControlName="cub_est_val_cc_cp2">
            <ion-segment-button value="1">
              <ion-label>SI</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>NO</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>REVISION DE ROSCAR Y ALOJAMIENTOS</p>
          <ion-segment mode="ios" formControlName="cub_est_rev_ros_cp2">
            <ion-segment-button value="1">
              <ion-label>OK</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>DEFECTUOSO</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>PIEZAS LIMPIAS / SIN FILOS</p>
          <ion-segment mode="ios" formControlName="cub_est_pie_lim_cp2">
            <ion-segment-button value="1">
              <ion-label>OK</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>FILOS</ion-label>
            </ion-segment-button>
            <ion-segment-button value="3">
              <ion-label>OTROS</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> OBSERVACIONES </ion-label>
        <ion-textarea
          [autofocus]="true"
          mode="ios"
          [autoGrow]="true"
          formControlName="cub_est_observ_cp2"

        ></ion-textarea>
      </ion-item>
      <!-- -------------------------------INICIO CONTROL-------------------------------- -->
      <ion-item-divider>

        <ion-toggle mode="ios" (ionChange)="toggle3($event)"  style="width: 50%;"
        formControlName="sop_rod_apl"
        >
        SOPORTE DE RODAJE
        </ion-toggle>

      </ion-item-divider>

      <ion-item>
        <ion-label>
          <p>VALIDADO POR CONTROL DE CALIDAD</p>
          <ion-segment mode="ios" formControlName="sop_rod_val_cc_cp2">
            <ion-segment-button value="1">
              <ion-label>SI</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>NO</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>REVISION DE ROSCAR Y ALOJAMIENTOS</p>
          <ion-segment mode="ios" formControlName="sop_rod_rev_ros_cp2">
            <ion-segment-button value="1">
              <ion-label>OK</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>DEFECTUOSO</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>PIEZAS LIMPIAS / SIN FILOS</p>
          <ion-segment mode="ios" formControlName="sop_rod_pie_lim_cp2">
            <ion-segment-button value="1">
              <ion-label>OK</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>FILOS</ion-label>
            </ion-segment-button>
            <ion-segment-button value="3">
              <ion-label>OTROS</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> OBSERVACIONES </ion-label>
        <ion-textarea style="width: 100%; height: 30px"  [autofocus]="true"
        mode="ios"
        [autoGrow]="true"
        formControlName="sop_rod_observ_cp2"

      ></ion-textarea>
      </ion-item>
      <!-- --------------------------------FIN CONTROL------------------------------------------ -->
      <!-- -------------------------------INICIO CONTROL-------------------------------- -->
      <ion-item-divider>

        <ion-toggle mode="ios" (ionChange)="toggle4($event)"  style="width: 50%;"
        formControlName="eje_rot_apl"
        >
        EJE ROTOR
            </ion-toggle>
      </ion-item-divider>

      <ion-item>
        <ion-label>
          <p>VALIDADO POR CONTROL DE CALIDAD</p>
          <ion-segment mode="ios" formControlName="eje_rot_val_cc_cp2">
            <ion-segment-button value="1">
              <ion-label>SI</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>NO</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>REVISION DE ROSCAR Y ALOJAMIENTOS</p>
          <ion-segment mode="ios" formControlName="eje_rot_rev_ros_cp2">
            <ion-segment-button value="1">
              <ion-label>OK</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>DEFECTUOSO</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>PIEZAS LIMPIAS / SIN FILOS</p>
          <ion-segment mode="ios" formControlName="eje_rot_pie_lim_cp2">
            <ion-segment-button value="1">
              <ion-label>OK</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>FILOS</ion-label>
            </ion-segment-button>
            <ion-segment-button value="3">
              <ion-label>OTROS</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> OBSERVACIONES </ion-label>
        <ion-textarea style="width: 100%; height: 30px" mode="ios"
        [autoGrow]="true"
        formControlName="eje_rot_observ_cp2"

      ></ion-textarea>
      </ion-item>
      <!-- --------------------------------FIN CONTROL------------------------------------------ -->
      <!-- -------------------------------INICIO CONTROL-------------------------------- -->
      <ion-item-divider>
        <ion-toggle mode="ios" (ionChange)="toggle5($event)"  style="width: 50%;"
        formControlName="impulso_apl"
        >
        IMPULSOR
            </ion-toggle>
      </ion-item-divider>

      <ion-item>
        <ion-label>
          <p>VALIDADO POR CONTROL DE CALIDAD</p>
          <ion-segment mode="ios" formControlName="impulso_val_cc_cp2">
            <ion-segment-button value="1">
              <ion-label>SI</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>NO</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>REVISION DE ROSCAR Y ALOJAMIENTOS</p>
          <ion-segment mode="ios" formControlName="impulso_rev_ros_cp2">
            <ion-segment-button value="1">
              <ion-label>OK</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>DEFECTUOSO</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>PIEZAS LIMPIAS / SIN FILOS</p>
          <ion-segment mode="ios" formControlName="impulso_pie_lim_cp2">
            <ion-segment-button value="1">
              <ion-label>OK</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>FILOS</ion-label>
            </ion-segment-button>
            <ion-segment-button value="3">
              <ion-label>OTROS</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> OBSERVACIONES </ion-label>
        <ion-textarea style="width: 100%; height: 30px" [autoGrow]="true"
        formControlName="impulso_observ_cp2"

      ></ion-textarea>
      </ion-item>
      <!-- --------------------------------FIN CONTROL------------------------------------------ -->
      <ion-item-divider>
        SUPERVISOR RESPONSABLE
      </ion-item-divider>
      <ion-item>
        <ion-label>
          <p>OBSERVACIONES:</p>
          <ion-textarea [disabled]="disableButtonPaso1" style="width:100%;height: 30px;"  formControlName="revi_respsble_obs_cp2"

          ></ion-textarea>
        </ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <form [formGroup]="FormCheckListPaso2" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col style="text-align: center">

          <ion-segment style="width: 110%;" class="ion_segment_3d" mode="ios" formControlName="idestado_revi_paso2_cp2" >

            <ion-segment-button (click)="SaveFormBorradorPaso1()" value="1" layout="icon-end">
              <ion-icon name="close" color="danger"></ion-icon>
              <ion-label color="danger">BORRADOR</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="SaveFormTerminadoPaso1()" value="2" layout="icon-end">
              <ion-icon color="success" name="checkmark"></ion-icon>
              <ion-label color="success">TERMINADO</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="SaveFormTerminadoPaso1()" value="3" layout="icon-end" [disabled]="disableButtonPaso1">
              <ion-icon name="star"></ion-icon>
              <ion-label color="secondary">VERIFICADO</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="SaveFormTerminadoPaso1()" value="4" layout="icon-end" [disabled]="disableButtonPaso1">
              <ion-icon color="warning" name="alert"></ion-icon>
              <ion-label color="warning" >RECHAZADO</ion-label>
            </ion-segment-button>
          </ion-segment>

        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>
