<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Seleccionar Supervisor</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="FCloseModal()" class="">
        <ion-icon part="icon" aria-hidden="true" role="img" class="md hydrated" name="chevron-back-outline"></ion-icon>
        Cancelar
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-searchbar
    style="width: 100%"
    #IdHtmlInputSearch
    mode="ios"
    debounce="1700"
    cancelButtonText="Cancelar"
    enterkeyhint="done"
    placeholder="Filtrar parametros"
    [(ngModel)]="NgModInputSearch"
    (ionChange)="FFindRows()"
  >
  </ion-searchbar>
  </ion-item>
   -->

  <ion-list
    *ngFor="let Row of DataSetGrid;"

    lines="full"
    inset="true"
  >
  <!-- *ngFor="let Row of DataSetGrid; let i=index let isOdd=odd; let isEven=even"
       [class.odd]="isOdd"
    [class.even]="isEven" -->
    <ion-item
      button (click)="FSelectedItem(Row.idempleado,Row.nomb_apell)" >
      <!-- 
    > -->
      <ion-label>
        <strong>{{Row.nomb_apell}}</strong>
        <!-- <p>{{Row.codigo}}</p> -->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
