<!--
<ion-header>
  <ion-toolbar mode="ios">

    <ion-item>
      <ion-note slot="start">Texto:</ion-note>
      <ion-input color="success"></ion-input>
      <ion-button slot="end">
        <ion-icon name="search" slot="end"></ion-icon>
        Buscar
      </ion-button>

    </ion-item>

  </ion-toolbar>
</ion-header>
-->


<ion-content class="ion-padding">
  <ion-list>
    
    <ion-item-group>

      <ion-item-group>

        <ion-item-divider color="primary">
          <ion-label>VERIFICACION CABLE CORTADO</ion-label>
        </ion-item-divider>

        <ion-item-divider color="medium">
          <ion-label>Puntas libres lado de conexion</ion-label>
        </ion-item-divider>

        <ion-item-divider color="medium">
          <ion-label>Corto Lado de Entrada de cable 3F+P+G</ion-label>
        </ion-item-divider>

      </ion-item-group>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F1/F3</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F1/P</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F1/G</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F1/F3</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F2/P</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F2/G</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F3/P</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F3/G</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja P/G</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

    </ion-item-group>







    <ion-item-group>

      <ion-item-group>

        <ion-item-divider color="primary">
          <ion-label>VERIFICACION CABLE CORTOCIRCUITADO</ion-label>
        </ion-item-divider>

        <ion-item-divider color="medium">
          <ion-label>Puntas libres lado de conexion</ion-label>
        </ion-item-divider>

        <ion-item-divider color="medium">
          <ion-label>Corto Lado de Entrada de cable</ion-label>
        </ion-item-divider>

      </ion-item-group>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F1/F3</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F1/P</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F1/G</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F1/F3</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F2/P</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F2/G</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F3/P</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja F3/G</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

      <ion-item style="border-style: hidden">

        <ion-label slot="start">Pareja P/G</ion-label>

        <ion-label slot="end">Cero</ion-label>

        <ion-toggle slot="end" mode="ios" style="width: 80px;"></ion-toggle>

        <ion-label slot="end">Infinito (∞)</ion-label>

        <ion-input slot="end" type="number"
          style="text-align: end; height: 35px !important;width: 7%;border-color: black; border: 1px;"></ion-input>

      </ion-item>

    </ion-item-group>







  </ion-list>
</ion-content>


<ion-footer>
  <ion-button expand="full" color="primary">Terminado</ion-button>
</ion-footer>